<template>
  <div>
    {{ 这是<%= name %>report页面}}
  </div>
</template>

<script type="text/jsx">

export default {
  name: '<%= name %>',
  mixins: [],
  data() {
    return {
      
    };
  },
  computed: {
    searchFormList() {
      return [

      ];
    },
  },
  created() {
  },
  methods: {
    initRouteParams(params = {}, isInit) {

    },
    routeHandle(params = {}) {
      
    },
    dataHandle(data) {
      return data
    },
    getColumnList() {
     
    },
  },
};
</script>
<style lang="scss" scoped>

</style>
